@import "reset.css";

.banner {

background: #4A4A4A;
height: 300px;
text-align: center;

}

.banner-subscript {
	font: 25px AvenirNext-UltraLight;
	color: #D7D7D7;
	display: block;
	
}

.banner-logo {
	margin-top: 50px;
}

.banner-action {
	color: #b0b0b0;
	padding: 10px;
	font-family: Avenir-Light;
}

.banner-action a {
	text-decoration: none;
	color: #ffffff;
}

/* @group form */

form {
	padding: 40px;
	width: 300px;
	margin: 0 auto;
}

fieldset {
	position: relative;
}

.form-title {
	text-align: center;
	display: block;
	
	font-family: Avenir-Light;
	font-size: 24px;
	color: #6F6F6F;
	line-height: 33px;
}

legend {
	display: block;
	color: #c1c1c1;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 3px;
	font-family: Avenir-Light;
	font-size: 20px;
	
}

label {
	display: block;
	font: 16px Avenir;
	color: #6F6F6F;
	padding: 5px;
	background-position: right center;
}

input:not([type=submit]) {
	border: 0;
	border-radius: 3px;
	/* Rectangle 2: */
	background: #ECECEC;
	padding: 10px;
	font-family: Avenir-Light;
	font-size: 20px;
	color: #6F6F6F;
	box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   -webkit-box-sizing: border-box;
	width: 100%;
}

input[type=submit] {
	/*margin: 10px;*/
	display: block;
	padding: 10px;
	margin: 20px 0;
	width: 100%;
	background: 0;
	border: 1px solid #4D7267;
	color: #4D7267;
	border-radius: 3px;
	font-family: Avenir-Medium;
	-webkit-transition: all 0.5s ease-in-out 0s;
}

input[type=submit]:hover {
	background: #4D7267;
	color: white;
}

a.next,a.back {
	margin-top: 20px;
	color: #9b9b9b;
	font-family: Avenir;
}

a.next {
	float: right;
}
a.back {
	float: left;
}

/* @end */
